#search-row {
	height:42px;
}
#search-row img {
	height:42px;
}
#search-row input {
	height:38px;
	
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:1px solid grey;
	
	margin-left: 8px;
	
	width:200px;
}

#open-members {
	display: inline-block;
	background: rgb(45,45,45);
    cursor: pointer;
    color: white;
    border-radius: 4px;
    padding: 12px 24px;
    font-size:14pt;
}
#open-members:hover {
	background: rgb(100,125,255);
}
#close-members {
	max-width:20px;
	padding: 2px 8px;
	text-align:center;
}
/* MEMBERS */
#members-wrapper {
	z-index:102;
	
	position:absolute;
	top:0;
	right:0;
	left:0;
	
	width:100%;
	min-height:100%;
	
	background:rgba(0,0,0,0.6);
}
#members-content {
	border-radius:12px;
	background:white;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	
	padding:12px;
	
	max-width:900px;
}
#members-items > tbody > tr {
	cursor:pointer;
}
#members-items > tbody > tr:hover {
	background:rgb(235, 235, 235);
}

.event-member-remove {
	width:32px;
	
	cursor:pointer;
}
.event-member-remove img {
	max-width:32px;
	max-height:32px;
}