@CHARSET "ISO-8859-1";

table {   
    min-width:300px;
    margin-right: 100px;  
    
    border-collapse:collapse; 
}

.label {
	margin-top:12px;
	
	font-weight: bold;
	display:inline-block;
	min-width:125px;
}
.value {
	display:inline-block;
}

/* OTHER BASIC INPUTS */
input.single-input {
	margin-top:24px;
}
input[type="text"], input[type="password"], input[type="mail"] {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid gray;
	
	width:60%;
}

.controls-btn {
	border: 0px black;
	border-radius:4px;

	cursor:pointer;

	font-size:10pt;

	padding-top:6px !important;
	padding-bottom:6px !important;

	background: rgb(45,45,45);

	color:white;
}

.controls-btn:hover {
	background:rgb(100, 125, 255);
}

text-area {
	margin-top:24px;
}