#search-row {
	height:42px;
}
#search-row img {
	height:42px;
}
#search-row input {
	height:38px;
	
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:1px solid grey;
	
	margin-left: 8px;
	
	width:200px;
}

.billlist-controls {
	width:24px;
}
.billlist-icon {
	max-width:24px;
	max-height:24px;
}

.content-row {
	clear:both;
}