table {
	border-collapse: collapse;
}

tfoot {
	border-top:1px solid gray;
}



.align-right {
	text-align: right;
}
.align-left {
	text-align:left;
}
.align-center {
	text-align:center;
}



/* INVENTORY */
#inventory-content {
	
	padding:12px;
}
#controls-row {
	margin-top:48px;
	height:42px;
}



/* CONTROLS */
#bill-controls {
	margin-top:24px;
}
#bill-add-item {
	background: rgb(45,45,45);
	cursor:pointer;
	
	color:white;
	border-radius:12px;
	padding:12px;
}
#bill-add-item:hover {
	background:rgb(100,125,255);
}
.confirm-btn {
    color: white;
    cursor: pointer;
    background: rgb(45,45,45);
    border-radius: 12px;
    padding: 12px;
}
.confirm-btn:hover {
	background: rgb(100, 125, 255);
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}

.inventory-content-row {
	clear:both;
}

#search-row {
	height:42px;
}
#search-row img {
	height:42px;
}
#search-row input {
	height:38px;
	
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:1px solid grey;
	
	margin-left: 8px;
	
	width:200px;
}

.filter-tag {
	border-radius: 12px;
	background: rgb(45,45,45);
	color: white;
	
	padding: 12px;
}
.filter-tag-remove-btn {
	margin-left:8px;

	cursor: pointer;
}
.filter-tag-remove-btn:hover {
	font-weight:bolder;
}
.filter-tags:hover {
	background: rgb(100, 125, 255);
}





/* ADD BILL TABLES */
#tables-row {
	min-height:200px;
}
.category-select {
	cursor:pointer;
	
	font-size:14pt;
}
.category-select:hover {
	background:rgb(235, 235, 235);
}


.icon-column {
	width:32px;
	
	cursor:pointer;
}
.icon-column img {
	max-width:32px;
	max-height:32px;
}