table {
	border-collapse: collapse;
}

tfoot {
	border-top:1px solid gray;
}

.label {
	font-weight:bold;
}
.value {
	margin-left:8px;
}

/* BILL */
tr#bill-total, tr#bill-subtotal {
	font-weight: bold;
}
tr#bill-total {
	font-size: 14pt;
}



input.input-locked {
	border:none !important;
}

thead > tr > td.item-value {
	min-width:100px;
}

.content-row {
	clear: both;
}

/* INVENTORY */
#inventory-wrapper {
	z-index:102;
	
	position:absolute;
	top:0;
	right:0;
	left:0;
	
	width:100%;
	min-height:100%;
	
	background:rgba(0,0,0,0.6);
}
#inventory-content {
	border-radius:12px;
	background:white;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	
	padding:12px;
	
	max-width:900px;
}
#controls-row {
	margin-top:48px;
	height:42px;
}



#paiment-choose-wrapper{
	z-index:103;
	position:absolute;
	top:0;
	right:0;
	left:0;

	width:100%;
	min-height:100%;
	background:rgba(0,0,0,0.6);
}
#paiment-choose-content{
	border-radius:12px;
	background:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:1px;
	max-width:400px;
}
#paiment-controls-row {
	margin-top:10px;
	height:150px;
}
#info-wrapper{
	z-index:104;
	position:absolute;
	top:0;
	right:0;
	left:0;

	width:100%;
	min-height:100%;
	background:rgba(0,0,0,0.6);
}

/* CONTROLS */
#bill-controls {
	margin-top:24px;
}
#bill-add-item {
	background: rgb(45,45,45);
	cursor:pointer;
	
	color:white;
	border-radius:12px;
	padding:12px;
	
	max-width:64px;
}
#bill-add-item:hover {
	background:rgb(100,125,255);
}
.confirm-btn {
    color: white;
    cursor: pointer;
    background: rgb(45,45,45);
    border-radius: 12px;
    padding: 12px;
}
.confirm-btn:hover {
	background: rgb(100, 125, 255);
}



#search-row {
	height:42px;
}
#search-row img {
	height:42px;
}
#search-row input {
	height:38px;
	
	border-top:0px;
	border-right:0px;
	border-left:0px;
	border-bottom:1px solid grey;
	
	margin-left: 8px;
	
	width:200px;
}

.filter-tag {
	border-radius: 12px;
	background: rgb(45,45,45);
	color: white;
	
	padding: 12px;
}
.filter-tag-remove-btn {
	margin-left:8px;

	cursor: pointer;
}
.filter-tag-remove-btn:hover {
	font-weight:bolder;
}
.filter-tags:hover {
	background: rgb(100, 125, 255);
}





/* ADD BILL TABLES */
#tables-row {
	min-height:200px;
}
.category-select {
	cursor:pointer;
	
	font-size:14pt;
}
.category-select:hover {
	background:rgb(235, 235, 235);
}

#inventory-items-root > tr {
	cursor:pointer;
}
#inventory-items-root > tr:hover {
	background:rgb(235, 235, 235);
}

/* SELECTED ITEM */
#quantity-controls {
	height:42px;
	margin-right:16px;
}
#quantity-controls input {
	margin-top:12px;
}
.bill-item-delete {
	width:32px;
	
	cursor:pointer;
}
.bill-item-delete img {
	max-width:32px;
	max-height:32px;
}
.bill-item-discount {
	width:32px;
	cursor:pointer;
}
.bill-item-discount img {
	max-width:32px;
	max-height:32px;
}

/* BILL LIST */
.billlist-controls {
	width:24px;
}
.billlist-icon {
	max-width:24px;
	max-height:24px;
}


/* MEMBERS */
#members-wrapper {
	z-index:102;
	
	position:absolute;
	top:0;
	right:0;
	left:0;
	
	width:100%;
	min-height:100%;
	
	background:rgba(0,0,0,0.6);
}
#members-content {
	border-radius:12px;
	background:white;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	
	padding:12px;
	
	max-width:900px;
}
#bill-client-controls > div {
	display:inline-block;
}
#selected-client-label {
	font-weight:bold;
}
#selected-client-value {
	min-width: 128px;
	
	border-bottom: 1px solid gray;
}
#selected-client-value, #open-members {
	margin-left:8px;
}
#open-members {
	border-radius: 6px;
}
#open-members, #open-members > img {
	height: 22px;
	width: 22px;
}
#open-members {
	cursor:pointer;
}
#open-members:hover {
	background:rgb(235, 235, 235);
}


#members-items > tbody > tr {
	cursor:pointer;
}
#members-items > tbody > tr:hover {
	background:rgb(235, 235, 235);
}



/* EVENTS */
#events-wrapper {
	z-index:102;
	
	position:absolute;
	top:0;
	right:0;
	left:0;
	
	width:100%;
	min-height:100%;
	
	background:rgba(0,0,0,0.6);
}
#events-content {
	border-radius:12px;
	background:white;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	
	padding:12px;
	
	max-width:900px;
}
#bill-event-controls > div {
	display:inline-block;
}
#selected-event-label {
	font-weight:bold;
}
#selected-event-value {
	min-width: 128px;
	
	border-bottom: 1px solid gray;
}
#selected-event-value, #open-events {
	margin-left:8px;
}
#open-events {
	border-radius: 6px;
}
#open-events, #open-events > img {
	height: 22px;
	width: 22px;
}
#open-events {
	cursor:pointer;
}
#open-events:hover {
	background:rgb(235, 235, 235);
}


#events-items > tbody > tr {
	cursor:pointer;
}
#events-items > tbody > tr:hover {
	background:rgb(235, 235, 235);
}


/* OTHER BASIC INPUTS */
input.single-input {
	margin-top:24px;
}
input[type="text"], input[type="password"] {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid gray;
	
	width:60%;
}