body {
	font-family:'arial', Georgia, Serif;
	margin:0px;
}

.float-left {
	float:left;
}
.float-right {
	float:right;
}
.float-center {
	float:center;
}
.clear {
	clear:both;
}

.align-right {
	text-align: right;
}
.align-left {
	text-align:left;
}
.align-center {
	text-align:center;
}

#wrapper {
	width:100%;
	min-height: 100%;
}
#sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	margin: 0;
	top: 0;
	background:rgb(25,25,25);
	z-index: 102;
	overflow: hidden;

	color:white;

	border-right: 1px solid #aaaaaa;
}
#sidebar-header {
	height: 100px;
	background: rgb(100, 125, 255);
	text-align: center;
	position: relative;
}
#sidebar-header > a {
	text-decoration: none;
}
#sidebar-logo img {
	max-height: 96px;
}
#sidebar-title {
	font-size: 20pt;
	font-weight: bold;
	color:white;
}

ul {
	padding-left: 0px;
	margin:0px;
}
#sidebar-content ul {
	padding-left: 0px !important;
	margin:0px !important;
}
li {
	list-style: none;
}
/* li a {
	width: 300px !important;
} */

/* NAVIGATION BAR */
.navlink {
	display: block;
	padding: 10px 0 10px 10px;
	position: relative;
	
	color:white;

	cursor: pointer;

	text-decoration: none;
}
.navlink a, ul > a {
	color:white;
	text-decoration: none;
}
.navlink:hover {
	background: rgb(100, 125, 255);
	color:white;
}

.navlist {
	display:block;
	padding: 10px 0 10px 10px;

	cursor: pointer;
}
.navlist:hover {
	background: rgb(100, 125, 255);
}
.navlist-expand {

}
.navlist-expand-parent {
	background:rgb(45,45,45);
	/*color:rgb(100, 125, 255);*/
}
.navlist-expand li, .navlist-expand-parent li {
	padding-left:20px;
}

.navlink-list-expand {
	display: block;
	padding: 9px 0 9px 9px;
	position: relative;

	cursor: pointer;

	color:white;

	background: rgb(100, 125, 255);

	text-decoration: none;
}
.navlink-list-expand a {
	color:white;
	text-decoration: none;;
}

.navlink-arrow {
	float:right;
	width:15px;

	font-weight: bold;

	display:inline-block;
}
.navlink-arrow-right:before {
	content: ">";
}

.navlist-icon {
	max-height: 12px;
}

/* TOP BAR */
#topbar-wrapper {
	position: fixed;
	height: 100px;
	top: 0;
	margin-left: 250px;
	width: 100%;
	z-index: 101;

	background: white;

	border-bottom: 1px solid #aaaaaa;
}
#topbar-content {
	width:calc(100% - 250px);
}
.topbar-cell {
	float:right;

	border-right:1px solid gray;
}

#user {
	width:250px;
	height:100px;

	justify-content: center;
	align-items: center;
	text-align: center;
}
div#username {
	margin-top:24px;

	font-size: 14pt;

}
#userrole {
	font-size: 10pt;
	color:grey;
}
#disconnect {
	width:100px;
	height:100px;

	text-align: center;

	cursor: pointer;

	justify-content: center;
	align-items: center;
	text-align: center;
}
#disconnect:hover {
	background: rgb(225, 225, 225);
}
#disconnect img {
	margin-top: 16px;
	max-height: 64px;
}



/* Main Content */
#main-wrapper {
	height: 100%;
	margin: 100px 0 0 250px;

	padding: 10px 20px 10px 20px;
}


nav {
	background-color:#ccffcc;

	padding:8px;
}

table {
	margin-right:auto;
	margin-left:auto;
	margin-top:16px;

	width:100%;
	max-width:1000px;

	border-collapse: collapse;
}

table td {
	padding:4px;
}

thead {
	border-bottom:1px solid gray;
}

thead td {
	/*cursor: pointer;*/
	font-weight: bold;
}
/*thead td:hover {
	background-color:#f2f2f2;
}*/
.info-icn{
	width: 20px;
	height: 20px;
}

#info_ref {
    display: none;
    background-color: #0080ff;
    color:white;
}
    
a:hover + #info_ref {
    display: block;
    position: absolute;
    left: 990px;
    top: 315px;
    z-index: 300;
}