#login-wrapper {
	width:300px;

	margin-right:auto;
	margin-left: auto;

	border: 4px solid rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	padding:36px;

	margin-top:42px;
}

#login-logo img{
	max-width: 100%;
}
#login-label {
	font-size: 20pt;
	font-weight: bold;

	margin-bottom:24px;

	text-align: center;
}

#login-info input {
	margin-bottom:24px;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:4px;
	padding-left:4px;
}

input[type="text"], input[type="password"] {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid gray;
	
	width:60%;
}

input#username, input#password, input#submit {
	width: calc(100% - 8px);
}

#login-button {
	border: 0px black;
	border-radius:4px;

	font-size:14pt;

	width: 100% !important;
	padding-top:12px !important;
	padding-bottom:12px !important;

	background:rgb(100, 125, 255);
	color:white;
	
	cursor:pointer;
}

#login-button:hover {
	background: rgb(45,45,45);
}