input.single-input {
	margin-top:24px;
}
.input-choice-label {
	margin-top:24px;
	font-weight:bold;	
}

.has-error {
	font-weight:bold;
	font-size:10pt;
	color:red;
}

.form-label {
	display:inline-block;
	min-width:125px;
}
.form-value {
	display:inline-block;
	margin-top:24px;
}

input[type="text"], input[type="password"] {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid gray;
	
	width:60%;
}

input[type="number"], input[type="datetime-local"] {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid gray;
}

.confirm-btn {
	border: 0px black;
	border-radius:4px;

	cursor:pointer;

	font-size:14pt;

	width: 100% !important;
	padding-top:12px !important;
	padding-bottom:12px !important;

	background: rgb(45,45,45);

	color:white;
}

.confirm-btn:hover {
	background:rgb(100, 125, 255);
}
.export-btn:hover {
	background:rgb(100, 125, 255);
}

#form-controls {
	max-width:150px;
}

.float-left {
	float:left;
}
.float-right {
	float:right;
}
#export-div{
	margin-right: 50px;
}
.export-btn{
	border: 0px black;
	border-radius:4px;
	cursor:pointer;
	font-size:14pt;
	width: 150px !important;
	padding-top:12px !important;
	padding-bottom:12px !important;
	text-align: center;
	background: rgb(45,45,45);
	color:white;
}